@page
@model Training.Pages.ForAdmin.ManageModel

@{
    ViewData["Title"] = "Manage user role";
}

<h2>Manage user roles</h2>
<form method="post">
    <div class="card">
        <div class="card-header">
            Add/Remove user roles - @Model.Person.UserName
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.roleView.Count; i++)
            {

                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model.roleView[i].RoleId" />
                    <input type="hidden" asp-for="@Model.roleView[i].RoleName" />

                    <input type="checkbox" id="@Model.roleView[i].RoleId" value="@Model.roleView[i].RoleName" checked="@Model.roleView[i].Selected" name="AreSelected" class="form-check-input" />

                    <label for="@Model.roleView[i].Selected">@Model.roleView[i].RoleName</label>
                </div>}
        </div>
        <div>
            <input type="submit" value="Edit" class="btn btn-primary" style="width:auto" />
        </div>
        <div>
            <a asp-page="./Userroles">Back to list</a>
        </div>
    </div>
</form>