@using Core.Extensions
@model Pages.TrainingCoursesPage

@Html.Editor(model => model.Item.Title)
@Html.Editor(model => model.Item.MaxPeopleInTraining)
@Html.Editor(model => model.Item.CourseTime)
@Html.Select(model => model.Item.AreaId,
    Model.Areas, "-- Select Area --")

<div class="form-group">
    <div class="table">
        <table>
            <tr>
            @{
                int cnt = 0;
                foreach (var course in Model.Courses)
                {
                    if (cnt++ % 3 == 0)
                    {
                        @:</tr><tr>
                    }
                    @:<td>
                    <input type="checkbox"
                           name="selectedCourses"
                           value="@course.Value"
                           @(Html.Raw(Model.IsAssigned(course) ? "checked=\"checked\"" : "")) />
                    @course.Text
                    @:</td>
                }
                @:</tr>
            }
        </table>
    </div>
</div>