@page
@model Training.Pages.TrainingCourses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TrainingCourseData</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingCourseData.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingCourseData.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingCourseData.AreaId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingCourseData.AreaId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingCourseData.MaxPeopleInTraining)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingCourseData.MaxPeopleInTraining)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingCourseData.CourseTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingCourseData.CourseTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingCourseData.RowVersion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingCourseData.RowVersion)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TrainingCourseData.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
