@page
@model Pages.TrainingCoursesPage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TrainingCourseData</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.AreaId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.AreaId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.MaxPeopleInTraining)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.MaxPeopleInTraining)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.CourseTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.CourseTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.RowVersion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.RowVersion)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-handler="Edit" asp-route-id="@Model.Item.Id">Edit</a> |
    <a asp-page="./Index" asp-route-handler="Index">Back to List</a>
</div>
