@page
@model Pages.TrainingCoursesPage
@using Core.Extensions

@{
    ViewData["Title"] = "Training Courses";
    Layout = "_Index";
    }


<table class="table">
    <thead>
        <tr>
            @Html.TableSortHeader(x => x.Item.Title, Model)
            @Html.TableSortHeader(x => x.Item.MaxPeopleInTraining, Model)
            @Html.TableSortHeader(x => x.Item.CourseTime, Model)
            @Html.TableHeader(x => x.Item.AreaId)
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.Items)
        {
        <tr>
            @Html.RowData(x => i.Title)
            @Html.RowData(x => i.MaxPeopleInTraining)
            @Html.RowData(x => i.CourseTime)
            @Html.RowData(x => i.AreaId)
            <td>
                @foreach (var users in i.TrainingUsers)
                {
                    @users.Number @:  @users.Name <br />
                }
            </td>
            @Html.RowButtons(Model.PageUrl, $"{i.Id}")
        </tr>}
    </tbody>

</table>
